<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notesappmvvm">

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotesAppMVVM">
        <activity android:name=".activities.UpdateNotesActivity"
            android:label="Update Note"></activity>
        <activity android:name=".activities.InsertNotesActivity"
            android:label="Create Note"/>
        <activity android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"
            android:label="Notes"/>
    </application>

</manifest>